<div class="challenge-container">
  <div *ngIf="activeChallenge" class="challenge-active">
    <header>Ganhe {{ activeChallenge.amount }} xp</header>

    <main>
      <img
        src="assets/icons/body.svg"
        *ngIf="activeChallenge.type === 'body'"
      />
      <img src="assets/icons/eye.svg" *ngIf="activeChallenge.type === 'eye'" />

      <strong>Novo desafio</strong>
      <p>{{ activeChallenge.description }}</p>
    </main>

    <footer>
      <button
        type="button"
        class="challenge-failed-button"
        (click)="handleChallengeFailed()"
      >
        Falhei
      </button>
      <button
        type="button"
        class="challenge-succeeded-button"
        (click)="handleChallengeSucceeded()"
      >
        Completei
      </button>
    </footer>
  </div>

  <div *ngIf="!activeChallenge" class="challenge-not-active">
    <strong>Finalize um ciclo para receber um desafio</strong>
    <p>
      <img src="assets/icons/level-up.svg" alt="Level up" />
      Avance de level completando os desafios.
    </p>
  </div>
</div>

<div *ngIf="showLevelUpModal">
  <app-levelup-modal
    [level]="profile.level"
    (closeLevelUpModal)="closeLevelUpModal()"
  ></app-levelup-modal>
</div>
