<div class="countdown">
  <div>
    <span>{{ minuteLeft }}</span>
    <span>{{ minuteRight }}</span>
  </div>
  <span>:</span>
  <div>
    <span>{{ secondLeft }}</span>
    <span>{{ secondRight }}</span>
  </div>
</div>

<button *ngIf="hasFinished" disabled class="start-cycle-button">
  Ciclo encerrado
</button>

<button
  *ngIf="!hasFinished && isActive"
  type="button"
  class="start-cycle-button start-cycle-button-active"
  (click)="resetCountdown()"
>
  Abandonar ciclo
</button>

<button
  *ngIf="!hasFinished && !isActive"
  type="button"
  class="start-cycle-button"
  (click)="startCountdown()"
>
  Iniciar um ciclo
</button>
