
.div-movex {
    margin-top: 2%;
    margin-left: 2%;
}

.div-card {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}

.h1-login {
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
    color: black;
}

.div-user {
    margin-top: 5%;
    text-align: center;
}

.input-user {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    width: 350px;
}

.div-password {
    margin-top: 5%;
    text-align: center;
}

.input-password {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    width: 350px;
}

.div-button {
    margin-top: 10%;
    text-align: center;
}

.button-continue {
    text-align: center;
    border-radius: 3px;
    padding: 4%;
    padding-left: 25%;
    padding-right: 25%;
}

.div-button-password {
    margin-top: 5%;
    text-align: center;
}

.button-password {
    font-size: 15px;
    border: none;
    background-color: white;
    color: turquoise;
}

.div-button-register {
    margin-top: 1%;
    margin-bottom: 10%;
    text-align: center;
}

.button-register {
    font-size: 15px;
    border: none;
    background-color: white;
    color: turquoise;
}