<section>
    <div class="div-movex">
        <h1 style="color: turquoise;">Mov.ex</h1>
    </div>
    <div class="card div-card">
        <div>
            <h1 class="h1-login">Faça seu login</h1>
        </div>
        <div class="div-user">
            <input class="input-user" type="text" placeholder="Usuário">
        </div>
        <div class="div-password">
            <input class="input-password" type="text" placeholder="Senha">
        </div>
        <div class="div-button">
            <button class="button-continue">Continuar</button>
        </div>
        <div class="div-button-password">
            <button class="button-password">Esqueci minha senha ></button>
        </div>
        <div class="div-button-register">
            <button class="button-register">Ainda não tenho cadastro ></button>
        </div>
    </div>
</section>
