<div id="main" class="card" style="background-color: #e1e5ea;">
    <div>
        <br/>
        <div id="div01" class="card">
            <h1>Ranking</h1>
        </div>
    </div>
    <div id="divCards" class="flex-row">
        <div id="card01" class="card">
            <img src="assets/avatarMasculino.png" alt="Avatar" style="width: 130px; height: 130px; margin-top: 7.5%; margin-left: 25%;">
            <h3 id="nameCard01">1. Carlos Ranier</h3>
            <h6 id="levelCard01">Level 100</h6>
        </div>
        <div id="card02" class="card">
            <img src="assets/avatarMasculino.png" alt="Avatar" style="width: 130px; height: 130px; margin-top: 7.5%; margin-left: 25%;">
            <h3 id="nameCard01">2. Lailson Bento</h3>
            <h6 id="levelCard01">Level 90</h6>
        </div>
        <div id="card03" class="card">
            <img src="assets/avatarMasculino.png" alt="Avatar" style="width: 130px; height: 130px; margin-top: 7.5%; margin-left: 25%;">
            <h3 id="nameCard01">3. Lucas Eduardo</h3>
            <h6 id="levelCard01">Level 80</h6>
        </div>
    </div>
    <div id="divTable">
        <table style="width: 865px;">
            <tr>
                <td id="td">4. Marcelo Cardoso Silva Neto</td>
                <td id="tdLevel">Level 70</td>
            </tr>
            <br/>
            <tr>
                <td id="td">5. Marcelino Rebimbas Marins</td>
                <td id="tdLevel">Level 60</td>
            </tr>
            <br/>
            <tr>
                <td id="td">6. Kelly Pádua Alvarenga</td>
                <td id="tdLevel">Level 50</td>
            </tr>
            <br/>
            <tr>
                <td id="td">7. Kirill Fagundes Boto</td>
                <td id="tdLevel">Level 40</td>
            </tr>
            <br/>
            <tr>
                <td id="td">8. Riyan Mata Sabala</td>
                <td id="tdLevel">Level 30</td>
            </tr>
            <br/>
            <tr>
                <td id="td">9. Doriana Xavier Ruas</td>
                <td id="tdLevel">Level 20</td>
            </tr>
            <br/>
            <tr>
                <td id="td">10. Jonatã Manso Mortágua</td>
                <td id="tdLevel">Level 10</td>
            </tr>
            <br/>
            <tr>
                <td id="td">X. Laysla Calçada Caminha</td>
                <td id="tdLevel">Level 1</td>
            </tr>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </table>
    </div>
</div>

