#main {

}

#div01 {
    text-align: center;
    background-color: white;
    height: 100px;
    padding: 1.5%;
    margin-top: -2%;
}

#divCards {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#divTable {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#card01 {
    width: 250px;
    height: 225px;
    margin-right: 3%;
    background-color: white;
    border-radius: 5px;
}

#card02 {
    width: 250px;
    height: 225px;
    background-color: white;
    border-radius: 5px;
}

#card03 {
    width: 250px;
    height: 225px;
    margin-left: 3%;
    background-color: white;
    border-radius: 5px;
}

#nameCard01 {
    text-align: center;
    margin-top: 5%;
}

#levelCard01 {
    text-align: center;
    background-color: #2b4b82;
    color: white;
}

#td {
    background-color: white;
    font-size: 25px;
    text-align: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2px;
    padding-left: 2%;
}

#tdLevel {
    background-color: #2b4b82;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px;
    font-weight: bold;
    color: white;
}