<section>
    <div class="div-movex">
        <h1 style="color: white;">Move.x</h1>
    </div>
    <div class="card">
        <div class="div-card">
            <div>
                <h1 class="h1-login">Cadastre-se</h1>
            </div>
            <div class="div-name">
                <input class="input-name" type="name" placeholder="Name" formControlName="name" required>
            </div>
            <div class="div-email">
                <input class="input-email" type="email" placeholder="Email" formControlName="email" required>
            </div>
            <div class="div-password">
                <input class="input-password" type="password" placeholder="Senha" formControlName="password" required>
            </div>
            <div class="div-button-register">
                <button class="button-register" type="submit">Cadastrar</button>
            </div>
            <a routerLink="/login">
            <div class="div-button-back">
                <button class="button-back" type="submit">Voltar</button>
            </div>
        </a>
        </div>
    </div>
</section>