<main class="container">
  <app-experience-bar
    *ngIf="profile"
    #experienceBar
    [currentExperience]="profile.currentExperience"
    [experienceToNextLevel]="experienceToNextLevel">
  </app-experience-bar>

  <section>
    <div class="cycle-container">
      <app-profile-info
        *ngIf="profile"
        [name]="profile.name"
        [level]="profile.level"
        [imageUrl]="profile.imageUrl">
      </app-profile-info>
      <app-completed-challenges
        *ngIf="profile"
        [challengesCompleted]="profile.challengesCompleted">
      </app-completed-challenges>
      <app-countdown
        #countdown
        [isActive]="isCountdownActive"
        [hasFinished]="hasCountdownFinished"
        (startChallenge)="startChallenge()">
      </app-countdown>
    </div>

    <app-challenge-box
      #challengeBox
      [profile]="profile"
      [experienceToNextLevel]="experienceToNextLevel"
      (challengeBtnAction)="challengeBtnAction()"
      (challengeCompleted)="challengeCompleted($event)">
    </app-challenge-box>
  </section>
</main>
