<main class="content">
  <app-experience-bar
    *ngIf="authService.profileInfo && authService.profileInfo.currentExperience && experienceToNextLevel"
    #experienceBar
    [currentExperience]="authService.profileInfo.currentExperience"
    [experienceToNextLevel]="experienceToNextLevel">
  </app-experience-bar>

  <section>
    <div class="cycle-container">
      <app-profile-info
        *ngIf="authService.profileInfo"
        [name]="authService.profileInfo.name"
        [level]="authService.profileInfo.level"
        [imageUrl]="authService.profileInfo.imageUrl">
      </app-profile-info>
      <app-completed-challenges
        *ngIf="authService.profileInfo"
        [challengesCompleted]="authService.profileInfo.challengesCompleted">
      </app-completed-challenges>
      <app-countdown
        #countdown
        [isActive]="isCountdownActive"
        [hasFinished]="hasCountdownFinished"
        (startChallenge)="startChallenge()">
      </app-countdown>
    </div>

    <app-challenge-box
      #challengeBox
      [profile]="authService.profileInfo"
      [experienceToNextLevel]="experienceToNextLevel"
      (challengeBtnAction)="challengeBtnAction()"
      (challengeCompleted)="challengeCompleted($event)">
    </app-challenge-box>
  </section>
</main>
